# Project Files
.idea*

# Output Files
data_collection/output

# Credential File
database\processing\credentials.py

# pycache
*.pyc
__pycache__/

# Environments
.env
.venv
env/
venv/
virtualenvironment/
