{% extends "base.html" %} {% block title %} Change Configuration {% endblock %}
{% block mainTitle %} Change Configuration {% endblock %}
{% block mainDescription %} Choose to add or remove configuration files {% endblock %}
{% block content %}

<div class="container p-0">
  <!-- First Row -->
  <div class="row">
    <div class="col">
      <div class="card content-card p-0 mb-3">
        <div class="card-body">
          <!-- Your content here -->
          <div class="row justify-content-between">
            <div class="col-md-6">
              <!-- First column content -->
              <h4>Stocks</h4>
              <p>Current Config:</p>
              <div class="card config-list">
                <ul id="config-stock-list">
                  <li></li>
                </ul>
              </div>
              <div class="row mt-3">
                <div class="col content-btn">
                  <button type="button" class="btn btn-secondary removeStock" data-toggle="modal"
                    data-target="#remove-modal" data-info="removeStock">
                    Remove Stock
                  </button>
                  <button type="button" class="btn btn-secondary addStock" data-toggle="modal"
                    data-target="#add-modal" data-info="addStock">
                    Add Stock
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Second column content -->
              <h4>Constituents</h4>
              <p>Current Config:</p>
              <div class="card config-list">
                <ul id="config-stock-list">
                  <li></li>
                </ul>
              </div>
              <div class="row mt-3">
                <div class="col content-btn">
                  <button type="button" class="btn btn-secondary removeStock" data-toggle="modal"
                    data-target="#remove-modal" data-info="removeStock">
                    Remove Constituent
                  </button>
                  <button type="button" class="btn btn-secondary addStock" data-toggle="modal"
                    data-target="#add-modal" data-info="addStock">
                    Add Constituent
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Second Row -->
  <div class="row-md pt-3">
    <h1 class="main-title">Change Data Sources</h1>
    <p class="main-description">Choose to add or remove data financial source</p>
  </div>
  <!-- Third Row -->
  <div class="row justify-content-between">
    <div class="col-md-12">
      <div class="card content-card">
        <div class="card-body">
          <!-- Your content here -->
          <div class="row justify-content-between">
            <div class="col-md-6">
              <!-- First column content -->
              <h4>Data Sources</h4>
              <p>Current Config:</p>
              <div class="card config-list">
                <ul id="config-stock-list">
                  <li></li>
                </ul>
              </div>
              <div class="row mt-3">
                <div class="col content-btn">
                  <button type="button" class="btn btn-secondary removeStock" data-toggle="modal"
                    data-target="#remove-modal" data-info="removeStock">
                    Remove Source
                  </button>
                  <button type="button" class="btn btn-secondary addStock" data-toggle="modal"
                    data-target="#add-modal" data-info="addStock">
                    Add Source
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Remove Modal -->
<div class="modal fade" id="remove-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Remove</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <input type="text" id="searchInput" onkeyup="searchList()" placeholder="Search...">
      <div class="modal-body p-3">
        <!-- Your content here -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">
          Remove
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="add-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Add</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <input type="text" id="searchInput" onkeyup="searchList()" placeholder="Search...">
      <div class="modal-body p-3">
        <!-- Your content here -->
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}