::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    background-color: #fff;
}

/*index.html*/

#login-form {
    width: 100%;
    padding: 50px;
    max-width: 400px;
}

#login-form h1 {
    font-size: 70px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-control {
    background-color: #D9D9D9;
}

.btn-login {
    width: 50%;
    background: #D9D9D9;
    border: none;
    color: #000;
}

/* Navigation bar */

.wrapper {
    display: flex;
}

#sidebar {
    width: 260px;
    min-width: 260px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
}

#sidebar.expand {
    width: 70px;
    min-width: 70px;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #000;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #000;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgb(255, 255, 255, .50);
    border-left: 3px solid #fff;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item:hover {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

/* Main Container */

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    padding: 1.68rem 1rem;
    justify-content: start;
}

.main-title {
    margin-top: .80rem;
}


#content {
    max-width: 80%;
    width: 80%;
}

#content2 {
    width: 80%;
}

/* Change Configuration Page - configuration.html*/

#change-config-section {
    background: #f7f7f7;
    border-radius: 10px;
}

#change-config-box {
    border-radius: 10px;
}

.card {
    /* padding: 10px 0px; */
}

.config-list {
    height: 150px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.config-list ul {
    height: 150px;
    width: 100%;
    overflow: hidden;
}

#config-buttons {
    text-align: center;
}

#config-buttons .btn {
    margin-right: 10px;
}

#searchInput {
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#stock-list li {
    list-style-type: none;
}

#stock-list li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

#stock-list li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

#change-data-section {
    background: #f7f7f7;
    border-radius: 10px;
    padding: 10px;
}

#change-data-list {
    background: #D9D9D9;
    border-radius: 10px;
}

/* Job Scheduling Page */

#data-section {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
}

#settings-section {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
}

#default-setting {
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 10px;
}

#custom-setting {
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 10px;
    margin: 0px 10px;
}

.border-on-checkbox {
    border: 3px solid #000; 
    border-radius: 10px; 
}

#days-section {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
}

#buttons-section {
    padding: 20px;
    border-radius: 10px;
    align-items: end;
    justify-content: end;
}

/* Download Data Page */

.modal-list {
    border: none;
    box-shadow: none;
  }

  #export-select-data {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
  }

  #export-data-type {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
  }

  #export-data-type label {
    margin-left: 1rem;
  }

  #export-sort-by {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    margin-top: 5px;
  }

  #export-date-range {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    margin-top: 5px;
  }

  #export-data-format {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    margin-top: 5px;
  }

#export-data-list {
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 15px;
    padding-left: 1rem;
    background-color: #ffffff;
}

#export-data-list ul {
    max-height: 200px;
    min-height: 150px;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
}

#export-data-list label {
    margin-left: 1rem;
}

#export-col {
    background-color: #f7f7f7;
    border-radius: 10px;
}

#data-type-list {
    margin: 0;
    padding: 0;
}

.input-daterange input {
    padding: 10px 15px !important;
    border: 1px solid #CFD8DC !important;
    border-radius: 4px !important;
    box-sizing: border-box;
    background-color: #fff !important;
    color: #000 !important;
    font-size: 16px !important;
    letter-spacing: 1px;
    position: relative;
    width: 250px;
}

.input-daterange input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #FFA000 !important;
    outline-width: 0;
}

.daterangepicker {
  background-color: #fff;
  border-radius: 0 !important;
  align-content: center !important;
  padding: 0 !important;
}

/*Weekday Heading*/
thead tr:nth-child(2) {
  color: #BDBDBD !important;
}

tbody tr td {
  padding: 5px 7px !important;
}

.month {
  font-size: 16px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.start-date, .end-date {
  border-radius: 0px !important;
}

.available:hover {
  border-radius: 0px !important;
}

.off {
  color: #EEEEEE !important;
}

.off:hover {
  background-color: #EEEEEE !important;
  color: #fff !important;
}

.drp-buttons {
  display: none !important;
}